body {
    background-image: url(/src/images/bg.jpg);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
    background: rgba(255, 255, 255, 0.5);
    min-height: 100vh;
    backdrop-filter: blur(2rem);
}

main {
    min-height: 80vh;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
}

.bg-dark {
    background-color: #343a40 !important;
}

.rating span:not(:first-child) {
    margin: 0.1rem;
}

.card {
    transition: all 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-0.2rem);
}

.card-img, .img-fluid {
    border-radius: 1rem;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

/* carousel */
.carousel {
    border-radius: 1.5rem;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}

.carousel-caption {
    position: absolute;
    top: 0;
}

.carousel-caption h4 {
    color: #fff;
}

.carousel img {
    display: block;
    height: 300px;
    padding: 30px;
    margin: 40px auto;
    border-radius: 2.5rem;
}

.carousel a {
    margin: 0 auto;
}

@media (max-width: 900px) {
    .carousel-caption h2 {
        font-size: 2.5vw;
    }
}
